/** 
 * Homepage Styles
 */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#homepage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
    left: 0;
    background-color: #222;
}
#homepage-container {
    text-align: center;
    padding-top: calc(50% - 150px);
}
#homepage-logo {
    width: 200px;
}