/** 
* Project specific CSS for imgin pages
*/

img[data-imginloaded="false"] { 
	opacity: 0; 
}
img[data-imginloaded="true"] { 
	opacity: 1; 
	transition: opacity 1s; 
}
.img { 
	display: inline-block; 
	position: relative; 
	height: 185px; 
	width: 185px; 
	overflow: hidden; 
	vertical-align: middle; 
	border: 5px dashed #ccc; 
	margin: 10px; 
}
.img img { 
	min-width: 200px; 
	min-height: 200px; 
	max-width: 230px; 
	max-height: 230px; 
}
.img .onload {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
}


