/** 
* Project specific CSS for imgin pages
*/

img[data-imginloaded="false"] { 
	opacity: 0; 
}
img[data-imginloaded="true"] { 
	opacity: 1; 
	transition: opacity 1s; 
}

#imgs {
	font-size: 0px;
	line-height: 0;
}
.img { 
	position: relative;
	width: 100%;
	padding-bottom: 66%;
	overflow: hidden;
}

.img img { 
	position: absolute; 
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}


@media only screen and (min-width: 960px) {
	.img { 
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: inline-block;
		width: 50%;
		padding-bottom: 33%;
	}
}
.img .onload {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px 7px;
	background-color: #333;
	color: #fff;
	font-size: 13px;
	line-height: 13px;
}


