/** 
 * Styles for shyft pages
 * Core styles for shyft are in /css/libs/shyft.css
 */

/* 768 */
@media only screen and (min-width: 960px) {
	.options-column {
		width: 320px;
		margin: 0 10px;
		float: left;
	}	
}


.update-msg {
	margin-left: 10px;
	display: inline-block;
	background-color: #9bd237;
	padding: 5px 10px;
	color: #fff;
}

#remote-nav {
	margin: 0 15px;
	font-size: 0;
}

#slide-tray {
	font-size: 0;
}
#slide-tray a {
	line-height: 0;
}
#slide-tray img {
	line-height: 0;
	max-width: 33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 5px 5px;
}