{% case page.project %}
	{% when 'brevity' %}
	    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/project-brevity.css" />
	{% when 'imgin' %}
	    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/project-imgin.css" />
	{% when 'pinnd' %}
	    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/project-pinnd.css" />
	{% when 'shyft' %}
	    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/libs/shyft.css" />
	    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/project-shyft.css" />
	{% when 'updown' %}
	    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/project-updown.css" />
{% endcase %}