<div id="header-wrapper">
    <header id="header-content">
        <h1><a href="{{ site.baseurl }}">ponysmith.<strong>github</strong>.io</a></h1>
		
		<input type="checkbox" id="nav-toggle-input" />
	    <label for="nav-toggle-input" id="nav-toggle-label">Toggle mobile navigation</label>
	    <nav id="nav">
	    	<ul>
	    		<li><a href="{{ site.baseurl }}brevity">brevity</a></li>
	    		<li><a href="{{ site.baseurl }}imgin">imgin</a></li>
	    		<li><a href="{{ site.baseurl }}updown">updown</a></li>
	    		<li><a href="{{ site.baseurl }}shyft">shyft</a></li>
	    		<li><a href="{{ site.baseurl }}pinnd">pinnd</a></li>
	    	</ul>
	    </nav>
    </header>
</div>
