<div id="header-wrapper">
    <header id="header-content">
        <h1><a href="{{ site.baseurl }}">ponysmith.<strong>github</strong>.io</a></h1>
		
		<input type="checkbox" id="nav-toggle-input" />
	    <label for="nav-toggle-input" id="nav-toggle-label">Toggle mobile navigation</label>
	    <nav id="nav">
	    	<ul>
	    		<li id="nav-brevity">
	    			<a class="nav-link" href="{{ site.baseurl }}brevity">
	    				<span class="nav-link-icon"></span>
	    				<span class="nav-link-text">brevity</span>
	    			</a>
	    		</li>
	    		<li id="nav-imgin">
	    			<a class="nav-link" href="{{ site.baseurl }}imgin">
    					<span class="nav-link-icon"></span>
	    				<span class="nav-link-text">imgin</span>
	    			</a>
    			</li>
	    		<li id="nav-updown">
	    			<a class="nav-link" href="{{ site.baseurl }}updown">
	    				<span class="nav-link-icon"></span>
	    				<span class="nav-link-text">updown</span>
	    			</a>
	    		</li>
	    		<li id="nav-pinnd">
	    			<a class="nav-link" href="{{ site.baseurl }}pinnd">
	    				<span class="nav-link-icon"></span>
	    				<span class="nav-link-text">pinnd</span>
	    			</a>
	    		</li>
	    		<li id="nav-shyft">
	    			<a class="nav-link" href="{{ site.baseurl }}shyft">
	    				<span class="nav-link-icon"></span>
	    				<span class="nav-link-text">shyft</span>
	    			</a>
	    		</li>
	    	</ul>
	    </nav>
    </header>
</div>

