<div id="sidebar-wrapper">
	<input type="checkbox" id="sidebar-toggle-input" />
	<label for="sidebar-toggle-input" id="sidebar-toggle-label">Project Menu</label>
	<aside class="sidebar">
	{% case page.project %}
		{% when 'brevity' %}
			{% include sidebar-brevity.html %}
		{% when 'imgin' %}
			{% include sidebar-imgin.html %}
		{% when 'pinnd' %}
			{% include sidebar-pinnd.html %}
		{% when 'shyft' %}
			{% include sidebar-shyft.html %}
		{% when 'updown' %}
			{% include sidebar-updown.html %}
	{% endcase %}
	</aside>
</div>