<nav>
<ul class="sidebar-nav">
    <li><a href="{{ 'pinnd' | relative_url }}">Documentation</a></li>
    <li>Examples
    	<ul>
		    <li><a href="{{ 'pinnd/examples/basic' | relative_url }}">Basic Usage</a></li>
		    <li><a href="{{ 'pinnd/examples/context' | relative_url }}">Using Context</a></li>
		    <li><a href="{{ 'pinnd/examples/callbacks' | relative_url }}">Callbacks</a></li>
		    <li><a href="{{ 'pinnd/examples/methods' | relative_url }}">Public Methods</a></li>
		</ul>
	</li>
</ul>
</nav>