<nav>
<ul class="sidebar-nav">
    <li><a href="{{ 'shyft' | relative_url }}">Documentation</a></li>
    <li><a href="{{ 'shyft/options' | relative_url }}">Options</a></li>
    <li><a href="{{ 'shyft/autoplay' | relative_url }}">Autoplay Statuses</a></li>
    <li><a href="{{ 'shyft/callbacks' | relative_url }}">Callbacks</a></li>
    <li><a href="{{ 'shyft/methods' | relative_url }}">Public Methods</a></li>
    <li>Examples
    	<ul>
		    <li><a href="{{ 'shyft/examples/basic' | relative_url }}">Basic Usage</a></li>
            <li><a href="{{ 'shyft/examples/options' | relative_url }}">Options Sandbox</a></li>
            <li><a href="{{ 'shyft/examples/custom-ui' | relative_url }}">Custom UI</a></li>
            <li><a href="{{ 'shyft/examples/add-remove' | relative_url }}">Adding / Removing</a></li>
		</ul>
	</li>
</ul>
</nav>