<nav>
<ul class="sidebar-nav">
    <li><a href="{{ site.baseurl }}shyft">Documentation</a></li>
    <li><a href="{{ site.baseurl }}shyft/options">Options</a></li>
    <li><a href="{{ site.baseurl }}shyft/autoplay">Autoplay Statuses</a></li>
    <li><a href="{{ site.baseurl }}shyft/callbacks">Callbacks</a></li>
    <li><a href="{{ site.baseurl }}shyft/methods">Public Methods</a></li>
    <li>Examples
    	<ul>
		    <li><a href="{{ site.baseurl }}shyft/examples/basic">Basic Usage</a></li>
            <li><a href="{{ site.baseurl }}shyft/examples/options">Options Sandbox</a></li>
            <li><a href="{{ site.baseurl }}shyft/examples/custom-ui">Custom UI</a></li>
            <li><a href="{{ site.baseurl }}shyft/examples/add-remove">Adding / Removing</a></li>
		</ul>
	</li>
</ul>
</nav>