<nav>
<ul class="sidebar-nav">
    <li><a href="{{ 'tabletrim' | relative_url }}">Documentation</a></li>
    <li><a href="{{ 'tabletrim/options' | relative_url }}">Options</a></li>
    <li><a href="{{ 'tabletrim/callbacks' | relative_url }}">Callbacks</a></li>
    <li><a href="{{ 'tabletrim/methods' | relative_url }}">Methods</a></li>
    <li>Examples:
        <ul>
            <li><a href="{{ 'tabletrim/examples/basic' | relative_url }}">Basic Usage</a></li>
            <li><a href="{{ 'tabletrim/examples/controls' | relative_url }}">Custom Controls</a></li>
            <li><a href="{{ 'tabletrim/examples/callbacks' | relative_url }}">Callbacks</a></li>
            <li><a href="{{ 'tabletrim/examples/methods' | relative_url }}">Public Methods</a></li>
        </ul>
    </li>
</ul>
</nav>