<nav>
<ul class="sidebar-nav">
    <li><a href="{{ site.baseurl }}tabletrim">Documentation</a></li>
    <li><a href="{{ site.baseurl }}tabletrim/options">Options</a></li>
    <li><a href="{{ site.baseurl }}tabletrim/callbacks">Callbacks</a></li>
    <li><a href="{{ site.baseurl }}tabletrim/methods">Methods</a></li>
    <li>Examples:
        <ul>
            <li><a href="{{ site.baseurl }}tabletrim/examples/basic">Basic Usage</a></li>
            <li><a href="{{ site.baseurl }}tabletrim/examples/controls">Custom Controls</a></li>
            <li><a href="{{ site.baseurl }}tabletrim/examples/callbacks">Callbacks</a></li>
            <li><a href="{{ site.baseurl }}tabletrim/examples/methods">Public Methods</a></li>
        </ul>
    </li>
</ul>
</nav>