%font-body {
  font-family: 'Open Sans', sans-serif;
}

%font-header {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}

%font-header-light {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
}