#page-container {
  background-color: #fff;
}
#page-content {
  padding: 0px 0px 50px;
  position: relative;
}
#page-sidebar {
}
#page-main {
  padding: 70px 15px 0 15px;
}


@media only screen and (min-width: $width_mobile) {
}
