#splash-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#splash-content {
  margin: 0 auto;
  max-width: 250px;
}
.splash-logo {
  width: 100%;
}
.splash-header {
  color: $color_ash;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
}
.splash-links {
  text-align: center;
}
.splash-links-item {
  margin: 0 0 .5rem;
}
.splash-link {
  @extend %font-header;
  font-size: 1rem;
  color: $color_ash;
  text-decoration: none;
  border-bottom: 1px solid $color_ash_dark;
  padding-bottom: 1px;
  letter-spacing: 1px;

  &:hover {
    border-bottom-color: $color_ash_light;
  }
}
