<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="ponysmith.github.io" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ 'css/core.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ 'css/syntax.css' | relative_url }}" />
	{% include css_includes.html %}

	<script data-main="{{ 'js/main.js' | relative_url }}" src="{{ 'js/libs/require.min.js' | relative_url }}"></script>
	
    <title>{{ page.project }} | {{ page.title }} | ponysmith.github.io</title>
</head>

<body id="{{ page.project }}">

{% include header.html %}

<div id="page-wrapper">
    <section id="page-content">
        {% include sidebar.html %}
        <h1><a href="{{site.baseurl}}{{page.project}}">{{page.project}}</a> &rsaquo; <span class="sub">{{page.title}}</span></h1>
        {{ content }}
    </section>
</div>

{% include footer.html %}

</body>

</html>